---
import Layout   from '../layouts/Layout.astro';

import Header   from '../components/Header.astro';
import Hero     from '../components/Hero.astro';
import About    from '../components/About.astro';
import Beers    from '../components/Beers.astro';
import Process  from '../components/Process.astro';
import Contact  from '../components/Contact.astro';
import Footer   from '../components/Footer.astro';
import Equipment from '../components/Equipment.astro';

---

<Layout
  title="L'École du Bélier – Micro-brasserie maison en Nouvelle-Aquitaine"
  description="Brasserie artisanale & hyper-locale : kegs 5 Gal et bouteilles, production < 100 L/mois sur Grainfather G40 + GF30.">

  <Header />

  <main class="page-content">
    <Hero />
    <About />
    <Equipment />
    <Beers />
    <Process />
    <Contact />
  </main>

  <Footer />
</Layout>
