---
/**
 * Skip links globaux pour la navigation clavier
 */
import '../styles/skip-links.css';
---

<div class="skip-links">
  <a href="#main-content" class="skip-link">Aller au contenu principal</a>
</div>
